﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

p {
    font-size: 16px;
}


.word-group {
    border: 1px solid #eeeeee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 100px;
    word-wrap: break-word;
    border-bottom-left-radius: 10px;
    /*border-top-right-radius: 10px;*/
}

    .word-group h4 {
        /*color: white;*/
        background-color: #eeeeee;
        margin-top: 0;
        text-indent: 5px;
        padding: 5px;
    }


.userTerm .word-group h4 {
    background-color: #7cc7d8;
}

.userTerm .word-group {
    border: 1px solid #7cc7d8;
}


.word-group h4:first-letter {
    text-transform: capitalize;
}


.word-group h4 .glyphicon {
    color: #d93e3e;
    cursor: pointer;
}

.word-group ul {
    list-style: none;
    padding: 0;
    padding-left: 5px;
}


.notification.alert.alert-danger, .notification.alert.alert-info, .notification.alert.alert-warning, .notification.alert.alert-success {
    width: 100%;
    position: fixed;
    top: 50px;
    min-height: 50px;
    display: none;
    text-align: center;
    font-weight: bold;
    z-index: 100000000;
}

.deduction-info {
    font-size:10px;
    position:relative;
    bottom:2px;
    left:2px;
}
