﻿@model  List<SynonymsTask.Core.Data.TermModel>
@{
    ViewBag.Title = "Home Page";
    string sEmptyListMessage = "No synonym to display, you may create a new entry...";
}

<div class="jumbotron">
    <h2>Task</h2>

    <p>
        Create a simple 2-way synonyms management and display system, using any front-end technology (ASP.NET
        MVC, React, Angular) and C# & MS SQL Server in the back-end.
    </p>

    <p>
        All application should do is to take two inputs as a parameter (term and synonyms) and return list of
        synonyms.
    </p>

    <p>
        Synonyms are stored in database as entered by the users, grouping and joining the synonyms
        (dictionary creation) should be done in memory
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        @* Input Word*@
        <div class="form-group col-md-3">
            <label for="word">Enter a word</label>
            <input type="text" id="word" class="form-control" placeholder="Your word">
        </div>
        @* Input Synonym List*@
        <div class="form-group col-md-6">
            <label for="synonyms">Enter a list of synonym separted by coma</label>
            <input type="text" id="synonyms" class="form-control" placeholder="Synonym, Synonym, ...">
        </div>

        @* Delete all button*@
        <button id="resetDbButton" type="button" class="btn btn-danger pull-right" autofocus>Delete all synonyms</button>
    </div>
</div>

@* Add Button*@
<div class="row">
    <div class="col-md-12">
        <div class="form-group col-md-6">
            <button id="addSynonymButton" type="button" class="btn btn-success" autofocus>Add a word and its synonyms</button>
        </div>
    </div>
</div>
<hr />

<div id="synonym-container" class="row">

    @* First Creation of the synonym list in the DOM *@
    @foreach (SynonymsTask.Core.Data.TermModel icTermModel in Model)
    {
        string sUserTermClass = icTermModel.bFromUser ? "userTerm" : String.Empty;
        string sDataTermId = icTermModel.bFromUser ? "data-term-id = " + icTermModel.iId : String.Empty;

        <div class="col-md-3 @sUserTermClass">
            <div class="word-group" data-term="@icTermModel.sLabel" @sDataTermId>
                @* Header *@
                <h4>
                    @icTermModel.sLabel

                    @if (icTermModel.bFromUser)
                    {
                        <span class="deduction-info">(created by user)</span>
                        <span class="glyphicon glyphicon-trash pull-right deleteSingleTerm" data-term="@icTermModel.sLabel" data-term-id="@icTermModel.iId"></span>
                    }
                    else
                    {
                        <span class="deduction-info">(deducted from 2-way)</span>
                    }
                </h4>
                @* Synonym list*@
                <ul class="synonymList">
                    <li>@icTermModel.ToString()</li>
                </ul>
            </div>
        </div>
    }
</div>

@* Display an information to let the user know that the synonym list is empty*@
<div id="emptyListInfo">
    @if (Model.Count == 0)
    {
        @sEmptyListMessage
    }
</div>



<script type="text/javascript">
    // Javascript initialisation
    $(document).ready(function () {
        var options = {
            sEmptyListMessage: "@sEmptyListMessage"
        };

        SynonymsTask.Synonyme.Init(options);
    });

    @*
    // garder un cache du dico
        var termModelListCache = @Html.Raw(Json.Encode(Model));

    var GetAllTermOccurence = function (sTermLabel) {
        return termModelListCache.filter(function (term, key) {
            return term.cSynonym.indexOf(sTermLabel) >= 0;
        });
    };

    var RemoveTermOccurenceInDOM = function (sTermLabel) {
        var cTermOccurence = GetAllTermOccurence(sTermLabel);
        debugger;
        $(cTermOccurence).each(function (key, term) {
            var htmlSynonyms = $(".word-group[data-term-id='" + term.iId + "']").find("li");

        });
    };
        *@
</script>
